#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

#images {
    text-align: center;
}
#image_label {
    display: inline-block;
    margin-left: 40px;
}